.lista{
    display: flex;
    justify-content: center;
}

.lista p{
    padding: 5px;
    font-weight: 600;
}

.boton_q{
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
    height: 50%;
    color: red;
    border: 0px;
    background-color: transparent;
    
}

.boton_q:hover{
    cursor: pointer;
}

.boton_borrar{
    display: flex;
    margin: auto;
    color: red;
    border-width: 1px;
    border-color: red;
    background-color: transparent;
}

.boton_borrar:hover{
    cursor: pointer;
}