body{
    background-color: rgb(243, 243, 243);
}

.lista{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 255, 221, 0.466);
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding: 40px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.lista p{
    padding: 5px;
    font-weight: 600;
}

.boton_q{
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
    height: 50%;
    color: red;
    border: 0px;
    background-color: transparent;
    
}

a{
    text-decoration: none;
}

.boton_q:hover{
    cursor: pointer;
}

.boton_borrar{
    display: flex;
    margin: auto;
    border-radius: 20px;
    color: red;
    border-width: 1px;
    border-color: red;
    background-color: transparent;
    margin-right: 5px;
}



.boton_borrar:hover{
    cursor: pointer;
}

.boton_generar{
    background-color: rgba(0, 126, 126, 0.63);   
    border-width: 0px;
    border-radius: 20px;
    margin-left: 5px;
}
.boton_generar:hover{
    cursor: pointer; 
}

.botones1{
    display: flex;
    justify-content: center;

}

.total{
    display: flex;
    width:fit-content;
    margin: auto;
    margin-bottom: 15px;
    outline-style: solid;
    outline-width:1px;
    border-radius: 20px;
}

.total p{
    padding: 2px;
}
